<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <!--<link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/resources/css/site.css" type="text/css" />
</head>
<body>
    <div class="container-fluid">
    <h2>Thymeleaf</h2>
    <h3 th:text="${name}">Akbar</h3>
    <p>My organization is <span th:text="${author.name}"></span></p>
    <ul>
        <li th:each="s : ${authors}"  class="author-name">
            Name is <span th:text="${s.name}"></span>
            Age is <span th:text="${s.age}"></span>
        </li>
    </ul>

    <form action="/save" method="post">
        <input type="text" name="title" />
        <input type="submit" value="Save" onclick="showWelcome(this)" />
    </form>

    <form action="/save2" method="post" th:object="${newAuthor}">
        Name:<input type="text" th:field="*{name}" />
        Age:<input type="text" th:field="*{age}" />
        <input type="submit" value="SaveAll" onclick="showWelcome(this)" />
    </form>
    </div>

    <script th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
    <!--<script src="/resources/js/jquery-2.1.1.min.js"></script>
    <script src="/resources/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/resources/js/site.js"></script>
</body>
</html>